### Get airports from flights table with codes

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df_airports = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/airportsFlightsTable.csv")

In [17]:
df_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   airport_id  376 non-null    int64
 1   iata_code   376 non-null    object
 2   city        376 non-null    object
dtypes: int64(1), object(2)
memory usage: 8.9+ KB

In [18]:
df_airports

     airport_id iata_code                            city
0         10135       ABE  Allentown/Bethlehem/Easton, PA
1         10136       ABI                     Abilene, TX
2         10140       ABQ                 Albuquerque, NM
3         10141       ABR                    Aberdeen, SD
4         10146       ABY                      Albany, GA
..          ...       ...                             ...
371       15991       YAK                     Yakutat, AK
372       16101       YKM                      Yakima, WA
373       16133       YNG           Youngstown/Warren, OH
374       16218       YUM                        Yuma, AZ
375       16869       XWA                   Williston, ND

[376 rows x 3 columns]

In [19]:
#Got airports from https://ourairports.com/airports.html
global_airports = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/worldAirports.csv")

In [20]:
global_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35489 entries, 0 to 35488
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 35489 non-null  int64
 1   ident              35489 non-null  object
 2   type               35489 non-null  object
 3   name               35489 non-null  object
 4   latitude_deg       35489 non-null  float64
 5   longitude_deg      35489 non-null  float64
 6   elevation_ft       30858 non-null  float64
 7   continent          19757 non-null  object
 8   country_name       35489 non-null  object
 9   iso_country        35287 non-null  object
 10  region_name        35489 non-null  object
 11  iso_region         35489 non-null  object
 12  local_region       35485 non-null  object
 13  municipality       31489 non-null  object
 14  scheduled_service  35489 non-null  int64
 15  gps_code           23908 non-null  object
 16  iata_code          8029 non-null   object
 17  local_code         15682 non-null  object
 18  home_link          3054 non-null   object
 19  wikipedia_link     9179 non-null   object
 20  keywords           8328 non-null   object
 21  score              35489 non-null  int64
 22  last_updated       35489 non-null  object
dtypes: float64(3), int64(3), object(17)
memory usage: 6.2+ MB

In [21]:
df_global_airports = global_airports[['ident','iata_code','latitude_deg','longitude_deg']]
df_global_airports

      ident iata_code  latitude_deg  longitude_deg
0      EGLL       LHR     51.470600      -0.461941
1      KLAX       LAX     33.942501    -118.407997
2      KORD       ORD     41.978600     -87.904800
3      KJFK       JFK     40.639447     -73.779317
4      KATL       ATL     33.636700     -84.428101
...     ...       ...           ...            ...
35484  CMB7       NaN     45.253000     -74.807000
35485  12CN       NaN     39.268306    -122.116689
35486  8CL6       NaN     39.288502    -122.189003
35487  0ID2       NaN     44.442902    -113.773003
35488   0U8       NaN     44.610199    -113.896004

[35489 rows x 4 columns]

In [23]:
#add latitude and longitude to my airports dataset

df_airports_merged = df_airports.merge(df_global_airports, on = 'iata_code', how = 'inner' )
df_airports_merged = df_airports_merged.drop(columns=['city','ident'])
df_airports_merged

     airport_id iata_code  latitude_deg  longitude_deg
0         10135       ABE     40.651773     -75.442797
1         10136       ABI     32.411301     -99.681900
2         10140       ABQ     35.040199    -106.609001
3         10141       ABR     45.449100     -98.421799
4         10146       ABY     31.532946     -84.196215
..          ...       ...           ...            ...
369       15991       YAK     59.508717    -139.660435
370       16101       YKM     46.568199    -120.543999
371       16133       YNG     41.260700     -80.679100
372       16218       YUM     32.656601    -114.606003
373       16869       XWA     48.258387    -103.748797

[374 rows x 4 columns]

In [70]:
df_flights_imp = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/flightsWeatherSample_w.csv")
df_flights_sample = df_flights_imp#[['fl_date','mkt_unique_carrier','mkt_carrier_fl_num','tail_num','origin','dest','weather_delay_r']]
df_flights_sample

,fl_date,mkt_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,weather_delay_r
0,2019-03-21,DL,N390CA,6248,13296,MHT,"Manchester, NH",11433,DTW,"Detroit, MI",2900
1,2018-07-05,DL,N264SY,4690,11057,CLT,"Charlotte, NC",12478,JFK,"New York, NY",2692
2,2018-02-09,HA,N382HA,465,12173,HNL,"Honolulu, HI",14222,PPG,"Pago Pago, TT",2475
3,2018-12-09,DL,N921EV,3855,15323,TRI,"Bristol/Johnson City/Kingsport, TN",10397,ATL,"Atlanta, GA",2098
4,2019-12-24,AA,N902EV,3115,10874,CAK,"Akron, OH",13930,ORD,"Chicago, IL",1847
...,...,...,...,...,...,...,...,...,...,...,...
195,2018-12-26,AA,N950LR,5849,13851,OKC,"Oklahoma City, OK",11298,DFW,"Dallas/Fort Worth, TX",1103
196,2019-03-09,UA,N88325,6017,12266,IAH,"Houston, TX",12992,LIT,"Little Rock, AR",1103
197,2019-05-11,UA,N24103,4142,14193,PNS,"Pensacola, FL",12266,IAH,"Houston, TX",1102
198,2018-05-15,DL,N380DA,2164,12478,JFK,"New York, NY",14683,SAT,"San Antonio, TX",1100
199,2019-07-19,DL,N659BR,4756,11433,DTW,"Detroit, MI",14696,SBN,"South Bend, IN",1099

In [71]:
df_flights_sample.rename(columns={'origin': 'iata_code','dest': 'iata_code2'}, inplace=True)
##df_flights_sample.rename(columns={}, inplace = True)
df_flights_sample['fl_date'] = df_flights_sample['fl_date'].astype('datetime64')
df_flights_sample[['city','state']] = df_flights_sample['origin_city_name'].str.split(', ', expand=True)
df_flights_sample.drop(columns=['origin_city_name', 'dest_city_name'], inplace=True)
df_flights_sample#.info()

,fl_date,mkt_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,iata_code,dest_airport_id,iata_code2,weather_delay_r,city,state
0,2019-03-21,DL,N390CA,6248,13296,MHT,11433,DTW,2900,Manchester,NH
1,2018-07-05,DL,N264SY,4690,11057,CLT,12478,JFK,2692,Charlotte,NC
2,2018-02-09,HA,N382HA,465,12173,HNL,14222,PPG,2475,Honolulu,HI
3,2018-12-09,DL,N921EV,3855,15323,TRI,10397,ATL,2098,Bristol/Johnson City/Kingsport,TN
4,2019-12-24,AA,N902EV,3115,10874,CAK,13930,ORD,1847,Akron,OH
...,...,...,...,...,...,...,...,...,...,...,...
195,2018-12-26,AA,N950LR,5849,13851,OKC,11298,DFW,1103,Oklahoma City,OK
196,2019-03-09,UA,N88325,6017,12266,IAH,12992,LIT,1103,Houston,TX
197,2019-05-11,UA,N24103,4142,14193,PNS,12266,IAH,1102,Pensacola,FL
198,2018-05-15,DL,N380DA,2164,12478,JFK,14683,SAT,1100,New York,NY
199,2019-07-19,DL,N659BR,4756,11433,DTW,14696,SBN,1099,Detroit,MI

In [72]:
df_flights_merged = df_flights_sample.merge(df_airports_merged, on='iata_code', how='left')
df_flights_merged.rename(columns={'latitude_deg':'lat','longitude_deg':'lon'},inplace= True)

In [73]:
df_flights_merged

,fl_date,mkt_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,iata_code,dest_airport_id,iata_code2,weather_delay_r,city,state,airport_id,lat,lon
0,2019-03-21,DL,N390CA,6248,13296,MHT,11433,DTW,2900,Manchester,NH,13296,42.932598,-71.435699
1,2018-07-05,DL,N264SY,4690,11057,CLT,12478,JFK,2692,Charlotte,NC,11057,35.214001,-80.943100
2,2018-02-09,HA,N382HA,465,12173,HNL,14222,PPG,2475,Honolulu,HI,12173,21.320620,-157.924228
3,2018-12-09,DL,N921EV,3855,15323,TRI,10397,ATL,2098,Bristol/Johnson City/Kingsport,TN,15323,36.475201,-82.407401
4,2019-12-24,AA,N902EV,3115,10874,CAK,13930,ORD,1847,Akron,OH,10874,40.916100,-81.442200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2018-12-26,AA,N950LR,5849,13851,OKC,11298,DFW,1103,Oklahoma City,OK,13851,35.393101,-97.600700
196,2019-03-09,UA,N88325,6017,12266,IAH,12992,LIT,1103,Houston,TX,12266,29.984400,-95.341400
197,2019-05-11,UA,N24103,4142,14193,PNS,12266,IAH,1102,Pensacola,FL,14193,30.473400,-87.186600
198,2018-05-15,DL,N380DA,2164,12478,JFK,14683,SAT,1100,New York,NY,12478,40.639447,-73.779317
199,2019-07-19,DL,N659BR,4756,11433,DTW,14696,SBN,1099,Detroit,MI,11433,42.212399,-83.353401

In [74]:
#Process data for meteostat
from datetime import datetime
from meteostat import Point, Daily
from multiprocessing import cpu_count

from joblib import Parallel, delayed
import pandas as pd

start = datetime(2018, 1, 1) # Change start date
end = datetime(2019, 12, 31) # Change end date

point1= Point(42.212399, -83.353401)

# Get daily data for 2018
data = Daily(point1, start, end)
data = data.fetch()
data

            tavg  tmin  tmax  prcp   snow   wdir  wspd  wpgt    pres  tsun
time
2018-01-01 -12.6 -18.9 -10.0   0.0  140.0    NaN  18.2   NaN     NaN   NaN
2018-01-02 -13.8 -17.2 -10.0   0.0  140.0  222.0  24.8   NaN  1031.2   NaN
2018-01-03 -12.0 -17.2  -7.8   1.0  130.0  222.0  20.4   NaN  1019.0   NaN
2018-01-04 -12.3 -16.7  -7.8   0.0  140.0  328.0  20.5   NaN  1020.5   NaN
2018-01-05 -16.4 -19.4 -13.3   0.0  130.0  306.0  19.3   NaN  1026.5   NaN
...          ...   ...   ...   ...    ...    ...   ...   ...     ...   ...
2019-12-27   8.3   3.3  13.9   0.0    0.0  266.0  18.2   NaN  1020.6   NaN
2019-12-28   3.0   1.1   6.1   0.0    0.0    NaN   8.6   NaN  1024.5   NaN
2019-12-29   7.7   3.9  10.0  29.0    0.0   89.0  10.5   NaN  1010.1   NaN
2019-12-30   5.5   1.7   9.4   1.4    0.0  218.0  28.8   NaN   997.8   NaN
2019-12-31  -1.0  -2.0   0.0   0.0   10.0  235.0  32.4   NaN  1002.9   NaN

[730 rows x 10 columns]

In [77]:
weather_dfs=[]
def get_bulk_weather(df):
    for i,r in df.iterrows():
        point = Point(r.lat, r.lon)
        data = Daily(point, start, end)#,params=['temp','prcp','wspd','tsun','snow'])
        data = data.fetch()
        #data["latitude"] = df['lat']
        #data["longitude"] = df['lon']
        weather_dfs.append(data)
        #print(data)
    weather_final = pd.concat(weather_dfs)
    return weather_final 

df_weather = get_bulk_weather(df_flights_merged)
df_weather

Warning: Cannot load daily/KZAB0.csv.gz from https://bulk.meteostat.net/v2/

KeyboardInterrupt:

In [ ]:

if __name__ == "__main__":
    df = pd.read_csv("seasons.csv", sep=";")
    df["Date"] = pd.to_datetime(df["Date"], format="%d,%m,%Y")

    executor = Parallel(n_jobs=cpu_count(), backend='multiprocessing')
    tasks = (
        delayed(get_bulk_data)(row)
        for _, row in df.iterrows()
    )
    list_of_locations_data = executor(tasks)
    data_full = pd.concat(list_of_locations_data)
    print(data_full)

In [29]:
# Import Meteostat library and dependencies
from datetime import datetime
import matplotlib.pyplot as plt
from meteostat import Point, Daily, TimeSeries

# Set time period
start = datetime(2018, 1, 1)
end = datetime(2018, 12, 31)

# Create Point for Vancouver, BC
vancouver = Point(49.2497, -123.1193, 70)

# Get daily data for 2018
data = Daily(vancouver, start, end)
data = data.fetch()

data

            tavg  tmin  tmax  prcp  snow   wdir  wspd   wpgt    pres  tsun
time
2018-01-01   1.8  -0.4   4.0   0.0   0.0    NaN   8.7    0.0  1030.7   NaN
2018-01-02   1.8  -0.4   3.9   0.0   0.0    NaN   7.1    0.0  1028.5   NaN
2018-01-03   2.3   1.2   3.4   0.0   NaN    NaN   6.8    0.0  1022.5   NaN
2018-01-04   4.1   1.6   6.6   0.0   0.0    NaN   6.1    0.0  1016.7   NaN
2018-01-05   7.6   5.7   9.5  30.4   0.0    NaN  10.0    0.0  1014.5   NaN
...          ...   ...   ...   ...   ...    ...   ...    ...     ...   ...
2018-12-27   3.6   1.8   5.3   0.0   0.0   74.0   7.2    NaN  1027.8   NaN
2018-12-28   3.8   2.8   4.8  24.5   0.0   66.0  17.6    NaN  1025.2   NaN
2018-12-29   7.5   4.6  10.3  16.6   0.0  180.0  25.3  208.8  1013.7   NaN
2018-12-30   4.8   2.2   7.3   0.2   0.0  319.0  16.0  241.2  1021.5   NaN
2018-12-31   3.2  -0.3   6.8   0.0   0.0  110.0   6.8    NaN  1032.1   NaN

[365 rows x 10 columns]