In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
#Create local file to avoid issue with library
from pathlib import Path

In [ ]:
#Got airports from table flights
df_airports = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/airportsFlightsTable.csv")
df_airports.info()

In [ ]:
#Got airports from https://ourairports.com/airports.html
global_airports = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/worldAirports.csv")

In [ ]:
df_global_airports = global_airports[['ident','iata_code','latitude_deg','longitude_deg']]
df_global_airports.rename(columns={'latitude_deg': 'lat','longitude_deg':'lon'}, inplace = True)
df_global_airports

In [ ]:
df_airports_merged = df_airports.merge(df_global_airports, on = 'iata_code', how = 'inner' )
df_airports_merged = df_airports_merged.drop(columns=['city','ident'])
df_airports_merged['Key'] = df_airports_merged['lat'].astype(str) +'-'+df_airports_merged['lat'].astype(str)
df_airports_merged

In [ ]:
#Create local file for airports id, iatacode, latitute and longitude
from pathlib import Path  
filepath = Path('/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/Airports_lat_lon.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_airports_merged.to_csv(filepath)

In [ ]:
#Import meteostast library and datetime
from datetime import datetime
from meteostat import Point, Daily

start = datetime(2018, 1, 1) # Change start date
end = datetime(2020, 1, 31) # Change end date

In [ ]:
#use weather library meteostat
#Be carefull this library is not availble all the time and generate connection errors
#def get_bulk_weather(df):
#    weather_dfs=[]
#    for i,r in df.iterrows():
#        point = Point(r.lat, r.lon)
#        data = Daily(point, start, end)
#        data = data.fetch()
#        data["lat"] = r.lat
#        data["lon"] = r.lon
#        weather_dfs.append(data)
#    weather_final = pd.concat(weather_dfs)
#    return weather_final 
#
#df_weather = get_bulk_weather(df_airports_merged)
#df_weather

In [ ]:

#filepath = Path('/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/weatherAirports_2019_2018_Jan2020.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
#df_weather.to_csv(filepath)

In [ ]:
df_weather_f = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/processed/weatherAirports_2019_2018_Jan2020.csv")

In [ ]:
df_weather_f

In [ ]:
df_weather_f = df_weather_f.drop(columns=['tmin','tmax','wdir','pres','wpgt','tsun']) 
df_weather_f.rename(columns={'Unnamed: 0' :'fl_date','tavg':'AvgTemp', 'prcp':'Precipitation', 'snow':'Snow_mm','wspd':'WindSpeed'}, inplace=True)
df_weather_f['Key'] = df_weather_f['lat'].astype(str) +'-'+df_weather_f['lat'].astype(str)

In [ ]:
df_weather_f.fillna(0, inplace=True)
#df_weather_f.drop_duplicates(inplace=True)
df_weather_f

In [ ]:
#filepath = Path('/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/processed/weatherAirports_2019_2018_Jan2020_clean.csv')  
#filepath.parent.mkdir(parents=True, exist_ok=True)  
#df_weather_f.to_csv(filepath)

In [2]:
from add_location_weather import add_location
from add_location_weather import add_weather

In [3]:
weather_airports = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/processed/weatherAirports_2019_2018_Jan2020_clean.csv")
df_week_one  = pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/raw/Week_one_data_10000.csv")
airports_ids =  pd.read_csv("/Users/hugo/Library/CloudStorage/OneDrive-Personal/DATA_Science/Bootcamp/W7/mid-term-project-I/data/processed/Airports_lat_lon.csv")

In [4]:
df_week_one

,op_carrier_fl_num,op_unique_carrier,origin_airport_id,dest_airport_id,distance,route,day
0,5390,WN,14057,11292,991.0,14057-11292,1
1,2331,WN,15376,11292,639.0,15376-11292,2
2,2321,NK,14843,11618,1608.0,14843-11618,5
3,5496,OO,11109,12266,809.0,11109-12266,3
4,2811,QX,11884,14057,279.0,11884-14057,3
...,...,...,...,...,...,...,...
9995,1447,DL,12953,10397,762.0,12953-10397,2
9996,167,NK,10821,14492,255.0,10821-14492,4
9997,1037,UA,11618,11298,1372.0,11618-11298,7
9998,6130,YX,14122,12953,335.0,14122-12953,3
9999,772,AS,14679,11618,2425.0,14679-11618,4

In [5]:
airports_ids

,Unnamed: 0,airport_id,iata_code,lat,lon,Key
0,0,10135,ABE,40.651773,-75.442797,40.651773-40.651773
1,1,10136,ABI,32.411301,-99.681900,32.4113006592-32.4113006592
2,2,10140,ABQ,35.040199,-106.609001,35.040199-35.040199
3,3,10141,ABR,45.449100,-98.421799,45.449100494384766-45.449100494384766
4,4,10146,ABY,31.532946,-84.196215,31.532946-31.532946
...,...,...,...,...,...,...
369,369,15991,YAK,59.508717,-139.660435,59.508717-59.508717
370,370,16101,YKM,46.568199,-120.543999,46.56819916-46.56819916
371,371,16133,YNG,41.260700,-80.679100,41.26070023-41.26070023
372,372,16218,YUM,32.656601,-114.606003,32.656601-32.656601
373,373,16869,XWA,48.258387,-103.748797,48.258387-48.258387

In [6]:
results1 = add_location(df_week_one,airports_ids)
results1

,op_carrier_fl_num,op_unique_carrier,origin_airport_id,dest_airport_id,distance,route,day,Unnamed: 0,airport_id,iata_code,lat,lon,Key
0,5390,WN,14057,11292,991.0,14057-11292,1,266,14057,PDX,45.588699,-122.598000,45.58869934-45.58869934
1,5752,CP,14057,14747,129.0,14057-14747,7,266,14057,PDX,45.588699,-122.598000,45.58869934-45.58869934
2,789,UA,14057,11292,991.0,14057-11292,2,266,14057,PDX,45.588699,-122.598000,45.58869934-45.58869934
3,1184,AS,14057,14679,933.0,14057-14679,7,266,14057,PDX,45.588699,-122.598000,45.58869934-45.58869934
4,1552,AS,14057,14262,873.0,14057-14262,7,266,14057,PDX,45.588699,-122.598000,45.58869934-45.58869934
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,5147,OO,14006,13930,342.0,14006-13930,6,263,14006,PAH,37.060799,-88.773804,37.06079864501953-37.06079864501953
9995,5081,OO,13121,13930,489.0,13121-13930,2,212,13121,LWB,37.858299,-80.399498,37.8582992554-37.8582992554
9996,3845,MQ,11905,11298,140.0,11905-11298,2,137,11905,GGG,32.383999,-94.711502,32.38399887084961-32.38399887084961
9997,4258,OO,12003,14869,463.0,12003-14869,6,148,12003,GTF,47.481998,-111.371002,47.48199844-47.48199844
9998,4275,OO,14150,11433,243.0,14150-11433,3,278,14150,PLN,45.570900,-84.796700,45.57089996-45.57089996

In [7]:
weather_airports

,Unnamed: 0,fl_date,AvgTemp,Precipitation,Snow_mm,WindSpeed,lat,lon,Key
0,0,2018-01-01,-11.7,0.0,30.0,13.0,40.651773,-75.442797,40.651773-40.651773
1,1,2018-01-02,-9.4,0.0,30.0,17.3,40.651773,-75.442797,40.651773-40.651773
2,2,2018-01-03,-8.9,0.0,0.0,4.3,40.651773,-75.442797,40.651773-40.651773
3,3,2018-01-04,-5.0,2.5,0.0,24.5,40.651773,-75.442797,40.651773-40.651773
4,4,2018-01-05,-10.8,0.0,30.0,29.9,40.651773,-75.442797,40.651773-40.651773
...,...,...,...,...,...,...,...,...,...
271661,271661,2019-12-25,0.0,0.0,0.0,0.0,48.258387,-103.748797,48.258387-48.258387
271662,271662,2019-12-26,0.0,0.0,0.0,0.0,48.258387,-103.748797,48.258387-48.258387
271663,271663,2019-12-27,0.0,0.0,0.0,0.0,48.258387,-103.748797,48.258387-48.258387
271664,271664,2019-12-28,0.0,0.0,0.0,0.0,48.258387,-103.748797,48.258387-48.258387
271665,271665,2019-12-29,0.0,0.0,0.0,0.0,48.258387,-103.748797,48.258387-48.258387

In [8]:
results= add_weather(results1,weather_airports)

In [9]:
results

,op_carrier_fl_num,op_unique_carrier,origin_airport_id,dest_airport_id,distance,route,day,Unnamed: 0_x,airport_id,iata_code,...,lon_x,Key,fl_date,Unnamed: 0_y,AvgTemp,Precipitation,Snow_mm,WindSpeed,lat_y,lon_y
0,5390,WN,14057,11292,991.0,14057-11292,1,266,14057,PDX,...,-122.598000,45.58869934-45.58869934,2020-01-01,193438.0,10.8,3.8,0.0,11.9,45.588699,-122.598000
1,5752,CP,14057,14747,129.0,14057-14747,7,266,14057,PDX,...,-122.598000,45.58869934-45.58869934,2020-01-07,193444.0,11.3,2.8,0.0,24.8,45.588699,-122.598000
2,789,UA,14057,11292,991.0,14057-11292,2,266,14057,PDX,...,-122.598000,45.58869934-45.58869934,2020-01-02,193439.0,8.2,1.0,0.0,11.9,45.588699,-122.598000
3,1184,AS,14057,14679,933.0,14057-14679,7,266,14057,PDX,...,-122.598000,45.58869934-45.58869934,2020-01-07,193444.0,11.3,2.8,0.0,24.8,45.588699,-122.598000
4,1552,AS,14057,14262,873.0,14057-14262,7,266,14057,PDX,...,-122.598000,45.58869934-45.58869934,2020-01-07,193444.0,11.3,2.8,0.0,24.8,45.588699,-122.598000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,5147,OO,14006,13930,342.0,14006-13930,6,263,14006,PAH,...,-88.773804,37.06079864501953-37.06079864501953,2020-01-06,191160.0,5.3,0.0,0.0,7.9,37.060799,-88.773804
9995,5081,OO,13121,13930,489.0,13121-13930,2,212,13121,LWB,...,-80.399498,37.8582992554-37.8582992554,2020-01-02,152346.0,1.9,0.0,0.0,1.8,37.858299,-80.399498
9996,3845,MQ,11905,11298,140.0,11905-11298,2,137,11905,GGG,...,-94.711502,32.38399887084961-32.38399887084961,2020-01-02,96178.0,12.1,4.6,0.0,11.9,32.383999,-94.711502
9997,4258,OO,12003,14869,463.0,12003-14869,6,148,12003,GTF,...,-111.371002,47.48199844-47.48199844,2020-01-06,104553.0,0.1,0.0,0.0,26.3,47.481998,-111.371002
9998,4275,OO,14150,11433,243.0,14150-11433,3,278,14150,PLN,...,-84.796700,45.57089996-45.57089996,2020-01-03,201828.0,0.5,0.0,0.0,13.5,45.570900,-84.796700